.HomePage-header {
    /* background-color: #282c34; */
    /* min-height: 100vh; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    /* font-size: calc(10px + 2vmin); */
    /* color: white; */
  }

  html, body { height: 100% }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
   
  }